{% extends "layout.html" %} {% block content %}
<div class="page-wrapper">
    <div class="container">
		<div class="block-header">
            <h2 class="title">LOREM IPSUM</h2>
        </div>
        <div class="blog-detail">
            <div class="img"><img src="images/sample/news/blog-detail.png"></div>
            <div class="text">
                <p>How many times have you heard that paper is matter of the past? Obviously, this panorama is not so drastic. From time to time we want to have the pleasure to hold a good travel guide. Nevertheless, the Internet has become the first source of information for several years, especially among younger people (18-29 years old), according to a study by the Pew Research Center.</p>
                <p>And not only that, but this year the mobile has already surpassed the computer as the main device to access the Internet, according to data from the 16th edition of the report The Information Society in Spain. These figures show that it is necessary to have a presence in the online world and to be more than prepared for the responsive design, that is to say, no matter what device the user is using, our web or blog must be perfectly visualized.</p>
                <p>And what about the tourism industry? Netizens consult the Internet, not only to plan their trips, but also to discover the latest trends and fashionable destinations. For all those travelers, this information is just a click away. So make your hotel a touristic information source for your potential guests that will help you to be remembered. In this way, you will be taken into account when they are making the decision to travel to your destination and need to book a hotel stay. </p>
                <p>In addition, a blog will help you better position your website (and your booking engine). Thus, your potential customers will found you more easily.</p>
                <p>There are many blogs, so it is necessary that you take your content marketing strategy very seriously from the beginning. Your objective will be to stand out among the competition. This is what the next four hotel blogs have achieved. Take note!</p>
        </div>
        <div class="social">
            <span>Paylaş</span>
            <a class="facebook"></a>
            <a class="twitter"></a>
            <a class="linkedin"></a>
            <a class="telegram"></a>
            <a class="whatsapp"></a>
        </div>
	</div>
</div>
{% endblock %}
