{% extends "layout.html" %} {% block content %}
<div class="page-wrapper blog">
    <div class="block-header block-header-bg">
        <div class="container">
            <h2 class="title">BLOQLAR</h2>
            <div class="text">
                <div>Chic and sophisticated, Shabran Wellbeing Resort provides exotically inspired
                    retreat and creates a profound feeling of divine harmony and seamless
                    relaxation.</div>
            </div>
        </div>
    </div>
    <div class="container">
		<div class="blog-list row" data-match-height=".item">
			{% for i in 1..6 %}
			<div class="col-md-4">
				<a class="item" href="blog-etrafli.html">
					<span class="img">
						<img src="images/sample/news/1.png" />
					</span>
					<span class="title">LOREM IPSUM</span>
					<span class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting
                         industry. Lorem Ipsum has been the industry's standard dummy.</span>
                    <span class="link"><span>ƏTRAFLI OXU</span></span>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
