{% extends "layout.html" %}
{% block content %}
<div class="page-wrapper booking-detail">
	<div class="container">
		<div class="booking">
            <div class="block-header">
                <h2 class="title">STANDART ROOM</h2>
            </div>
            <div class="slider">
                <div><a href=""><img src="images/sample/rooms/reservation.png"></a></div>
                <div><a href=""><img src="images/sample/rooms/reservation.png"></a></div>
                <div><a href=""><img src="images/sample/rooms/reservation.png"></a></div>
            </div>
            <div class="function-wrap">
                <div class="function">
                    <div class="ico-1"><span></span>Aircondition</div>
                    <div class="ico-2"><span></span>1 Kingsize bed</div>
                    <div class="ico-3"><span></span>2 People</div>
                    <div class="ico-4"><span></span>Internet</div>
                    <div class="ico-5"><span></span>Washer</div>
                    <div class="ico-6"><span></span>Room service</div>
                </div>
            </div>
            <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            <div class="reserve-block">
                <div>
                    <div class="desc">Price for 1 night</div>
                    <div class="price">150 AZN / 1 Person</div>
                    <div class="detail">
                        <div class="ico-1"><span></span>BREAKFAST INCLUDED</div>
                        <div class="ico-2"><span></span>Cancellation policy</div>
                        <div class="ico-3"><span></span>Payment: bank card guarantee</div>
                    </div>
                </div>
                <form action=""><button class="btn">REZERV ET</button></form>
            </div>
        </div>
	</div>
</div>
{% endblock %}