{% extends "layout.html" %} {% block content %}
<div class="page-wrapper about">
    <div class="slider-block slider-type2 black">
        <div class="container">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">HAQQIMIZDA</h2>
                            <div class="desc">
                                <div>"A feeling of serenity slowly follows as you drive further
                                    through the mountains and forest to our state-of-the-art Ayurveda retreat
                                    resort. Upon entering the vast green hotel area, you will be bound to be allured
                                    by the striking architecture of the hotel and welcoming interior design.
                                    Spacious and bright lobby inviting guests to deep dive into a conscious luxury
                                    with naturally inspired décor elements.</div>
                                <div>Shabran Spa Resort covers a territory of
                                    12,6 ha. The hotel consists of 119 guestrooms and suites and 30 stand-alone
                                    residential villas.</div>
                                <div>The hotel’s vast area includes walking pathways, kids’
                                    playgrounds, a football field, an indoor swimming pool, and spacious summer
                                    terraces.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/first.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">HAQQIMIZDA</h2>
                            <div class="desc">
                                <div>"A feeling of serenity slowly follows as you drive further
                                    through the mountains and forest to our state-of-the-art Ayurveda retreat
                                    resort. Upon entering the vast green hotel area, you will be bound to be allured
                                    by the striking architecture of the hotel and welcoming interior design.
                                    Spacious and bright lobby inviting guests to deep dive into a conscious luxury
                                    with naturally inspired décor elements.</div>
                                <div>Shabran Spa Resort covers a territory of
                                    12,6 ha. The hotel consists of 119 guestrooms and suites and 30 stand-alone
                                    residential villas.</div>
                                <div>The hotel’s vast area includes walking pathways, kids’
                                    playgrounds, a football field, an indoor swimming pool, and spacious summer
                                    terraces.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/first.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">HAQQIMIZDA</h2>
                            <div class="desc">
                                <div>"A feeling of serenity slowly follows as you drive further
                                    through the mountains and forest to our state-of-the-art Ayurveda retreat
                                    resort. Upon entering the vast green hotel area, you will be bound to be allured
                                    by the striking architecture of the hotel and welcoming interior design.
                                    Spacious and bright lobby inviting guests to deep dive into a conscious luxury
                                    with naturally inspired décor elements.</div>
                                <div>Shabran Spa Resort covers a territory of
                                    12,6 ha. The hotel consists of 119 guestrooms and suites and 30 stand-alone
                                    residential villas.</div>
                                <div>The hotel’s vast area includes walking pathways, kids’
                                    playgrounds, a football field, an indoor swimming pool, and spacious summer
                                    terraces.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/first.png"></a>
                    </div>
                </div>
            </div>
			<div class="my-controls">
				<button type="button" class="prew"></button>
				<button type="button" class="next"></button>
			</div>
        </div> 
    </div>
    <div class="container">
        <div class="our-mission">
            <div class="block-header">
                <h2 class="title">MƏQSƏD VƏ DƏYƏRLƏR</h2>
            </div>
            <div class="row" data-match-height=".item">
                <div class="col-md-4">
                    <div class="item">
                        <div class="img"></div>
                        <div class="content">
                            <div class="title">Lorem Ipsum</div>
                            <div>Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry.
                                Lorem Ipsum has beent he industry's
                                standard dummy text ever since the.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="img"></div>
                        <div class="content">
                            <div class="title">Lorem Ipsum</div>
                            <div>Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry.
                                Lorem Ipsum has beent he industry's
                                standard dummy text ever since the.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="img"></div>
                        <div class="content">
                            <div class="title">Lorem Ipsum</div>
                            <div>Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry.
                                Lorem Ipsum has beent he industry's
                                standard dummy text ever since the.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="img"></div>
                        <div class="content">
                            <div class="title">Lorem Ipsum</div>
                            <div>Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry.
                                Lorem Ipsum has beent he industry's
                                standard dummy text ever since the.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="img"></div>
                        <div class="content">
                            <div class="title">Lorem Ipsum</div>
                            <div>Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry.
                                Lorem Ipsum has beent he industry's
                                standard dummy text ever since the.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="img"></div>
                        <div class="content">
                            <div class="title">Lorem Ipsum</div>
                            <div>Lorem Ipsum is simply dummy text of
                                the printing and typesetting industry.
                                Lorem Ipsum has beent he industry's
                                standard dummy text ever since the.</div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
{% endblock %}
