{% extends "layout.html" %} {% block content %}
<div class="page-wrapper kitchen">
    <div class="block-header">
        <h2 class="title">DINING</h2>
    </div>
    <div class="slider-block slider-type1 beige-bg">
    <div class="container">
        <div class="slider">
            <div>
                <div class="slider-overlay">
                    <div class="slider-side">
                        <div class="title">
                            <a href="">AYURVEDA SPA</a>
                        </div>
                        <div class="desc">Chic and sophisticated, Shabran Wellbeing Resort provides
                            exotically inspired retreat and creates a profound feeling of divine harmony and
                            seamless relaxation.</div>
                        <div class="btn-wrap"><a class="more" href="">more</a></div>
                    </div>
                    <a href=""><img src="images/sample/spa/home-spa.png"></a>
                </div>
            </div>
            <div>
                <div class="slider-overlay">
                    <div class="slider-side">
                        <div class="title">
                            <a href="">AYURVEDA SPA</a>
                        </div>
                        <div class="desc">Chic and sophisticated, Shabran Wellbeing Resort provides
                            exotically inspired retreat and creates a profound feeling of divine harmony and
                            seamless relaxation.</div>
                        <div class="btn-wrap"><a class="more" href="">more</a></div>
                    </div>
                    <a href=""><img src="images/sample/spa/home-spa.png"></a>
                </div>
            </div>
            <div>
                <div class="slider-overlay">
                    <div class="slider-side">
                        <div class="title">
                            <a href="">AYURVEDA SPA</a>
                        </div>
                        <div class="desc">Chic and sophisticated, Shabran Wellbeing Resort provides
                            exotically inspired retreat and creates a profound feeling of divine harmony and
                            seamless relaxation.</div>
                        <div class="btn-wrap"><a class="more" href="">more</a></div>
                    </div>
                    <a href=""><img src="images/sample/spa/home-spa.png"></a>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="slider-block slider-type1 gray-bg rw">
    <div class="container">
        <div class="slider">
            <div>
                <div class="slider-overlay">
                    <div class="slider-side text-right">
                        <div class="title">
                            <a href="">DINING</a>
                            <img src="images/sample/rooms/rubai.svg">
                        </div>
                        <div class="desc">This stylish restaurant offers a unique all-day dining
                            experience for the whole family.
                            <span>Breakfast: 07:00 – 11:00</span> 
                            <span>Lunch & Dinner: 12:00 - 00:00</span> 
                        </div>
                        <div class="btn-wrap"><a class="more" href="">more</a></div>
                    </div>
                    <a href=""><img src="images/sample/rooms/type2.png"></a>
                </div>
            </div>
            <div>
                <div class="slider-overlay">
                    <div class="slider-side text-right">
                        <div class="title">
                            <a href="">DINING</a>
                            <img src="images/sample/rooms/rubai.svg">
                        </div>
                        <div class="desc">This stylish restaurant offers a unique all-day dining
                            experience for the whole family.
                            <span>Breakfast: 07:00 – 11:00</span> 
                            <span>Lunch & Dinner: 12:00 - 00:00</span> 
                        </div>
                        <div class="btn-wrap"><a class="more" href="">more</a></div>
                    </div>
                    <a href=""><img src="images/sample/rooms/type2.png"></a>
                </div>
            </div>
            <div>
                <div class="slider-overlay">
                    <div class="slider-side text-right">
                        <div class="title">
                            <a href="">DINING</a>
                            <img src="images/sample/rooms/rubai.svg">
                        </div>
                        <div class="desc">This stylish restaurant offers a unique all-day dining
                            experience for the whole family.
                            <span>Breakfast: 07:00 – 11:00</span> 
                            <span>Lunch & Dinner: 12:00 - 00:00</span> 
                        </div>
                        <div class="btn-wrap"><a class="more" href="">more</a></div>
                    </div>
                    <a href=""><img src="images/sample/rooms/type2.png"></a>
                </div>
            </div>
        </div>
    </div> 
</div>
</div>
{% endblock %}
