{% extends "layout.html" %} {% block content %}
<div class="page-wrapper rooms">
    <div class="block-header">
        <h2 class="title">DELUXE KING ROOM</h2>
    </div>
    <div class="slider-block slider-type2 black">
        <div class="container">
            <div class="slider">
				<div>
					<div class="slider-overlay">
						<div class="slider-side">
							<h2 class="title">KING SUIT A</h2>
							<div class="desc">
								<div>Geniş qonaq otağına və dağların başına açılan
									valehedici görüntüyə malik apartamentlərin
									rahatlığı və komfortu deməkdir.</div>
							</div>
							<div class="function">
								<div class="tv"><span></span></div>
								<div class="wifi"><span></span></div>
								<div class="drink"><span></span></div>
								<div>Max Guests: 2</div>
								<div>Beds: 1 King</div>
							</div>
							<div class="btn-wrap">
								<a class="btn" href="">REZERV ET</a>
								<div class="my-controls">
									<button type="button" class="prew"></button>
									<button type="button" class="next"></button>
								</div>
							</div>
						</div>
						<a href="" class="slider-img"><img src="images/sample/rooms/room-1.png" class="animation-right"></a>
					</div>
				</div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">KING SUIT A</h2>
                            <div class="desc">
                                <div>Geniş qonaq otağına və dağların başına açılan
                                    valehedici görüntüyə malik apartamentlərin
                                    rahatlığı və komfortu deməkdir.</div>
                            </div>
                            <div class="function">
                                <div class="tv"><span></span></div>
                                <div class="wifi"><span></span></div>
                                <div class="drink"><span></span></div>
                                <div>Max Guests: 2</div>
                                <div>Beds: 1 King</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">REZERV ET</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/rooms/room-1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">KING SUIT A</h2>
                            <div class="desc">
                                <div>Geniş qonaq otağına və dağların başına açılan
                                    valehedici görüntüyə malik apartamentlərin
                                    rahatlığı və komfortu deməkdir.</div>
                            </div>
                            <div class="function">
                                <div class="tv"><span></span></div>
                                <div class="wifi"><span></span></div>
                                <div class="drink"><span></span></div>
                                <div>Max Guests: 2</div>
                                <div>Beds: 1 King</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">REZERV ET</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/rooms/room-1.png"></a>
                    </div>
                </div>
            </div>
			<div class="my-controls">
				<button type="button" class="prew"></button>
				<button type="button" class="next"></button>
			</div>
        </div> 
    </div>
    <div class="slider-block slider-type2 fog-gray rw">
        <div class="container">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">KING SUIT A</h2>
                            <div class="desc">
                                <div>Geniş qonaq otağına və dağların başına açılan
                                    valehedici görüntüyə malik apartamentlərin
                                    rahatlığı və komfortu deməkdir.</div>
                            </div>
                            <div class="function">
                                <div class="tv"><span></span></div>
                                <div class="wifi"><span></span></div>
                                <div class="drink"><span></span></div>
                                <div>Max Guests: 2</div>
                                <div>Beds: 1 King</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">REZERV ET</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/rooms/room-1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">KING SUIT A</h2>
                            <div class="desc">
                                <div>Geniş qonaq otağına və dağların başına açılan
                                    valehedici görüntüyə malik apartamentlərin
                                    rahatlığı və komfortu deməkdir.</div>
                            </div>
                            <div class="function">
                                <div class="tv"><span></span></div>
                                <div class="wifi"><span></span></div>
                                <div class="drink"><span></span></div>
                                <div>Max Guests: 2</div>
                                <div>Beds: 1 King</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">REZERV ET</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/rooms/room-1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">KING SUIT A</h2>
                            <div class="desc">
                                <div>Geniş qonaq otağına və dağların başına açılan
                                    valehedici görüntüyə malik apartamentlərin
                                    rahatlığı və komfortu deməkdir.</div>
                            </div>
                            <div class="function">
                                <div class="tv"><span></span></div>
                                <div class="wifi"><span></span></div>
                                <div class="drink"><span></span></div>
                                <div>Max Guests: 2</div>
                                <div>Beds: 1 King</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">REZERV ET</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/rooms/room-1.png"></a>
                    </div>
                </div>
            </div>
			<div class="my-controls">
				<button type="button" class="prew"></button>
				<button type="button" class="next"></button>
			</div>
        </div> 
    </div>
    <div class="slider-block slider-type2 sardine-gray">
        <div class="container">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">KING SUIT A</h2>
                            <div class="desc">
                                <div>Geniş qonaq otağına və dağların başına açılan
                                    valehedici görüntüyə malik apartamentlərin
                                    rahatlığı və komfortu deməkdir.</div>
                            </div>
                            <div class="function">
                                <div class="tv"><span></span></div>
                                <div class="wifi"><span></span></div>
                                <div class="drink"><span></span></div>
                                <div>Max Guests: 2</div>
                                <div>Beds: 1 King</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">REZERV ET</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/rooms/room-1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">KING SUIT A</h2>
                            <div class="desc">
                                <div>Geniş qonaq otağına və dağların başına açılan
                                    valehedici görüntüyə malik apartamentlərin
                                    rahatlığı və komfortu deməkdir.</div>
                            </div>
                            <div class="function">
                                <div class="tv"><span></span></div>
                                <div class="wifi"><span></span></div>
                                <div class="drink"><span></span></div>
                                <div>Max Guests: 2</div>
                                <div>Beds: 1 King</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">REZERV ET</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/rooms/room-1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">KING SUIT A</h2>
                            <div class="desc">
                                <div>Geniş qonaq otağına və dağların başına açılan
                                    valehedici görüntüyə malik apartamentlərin
                                    rahatlığı və komfortu deməkdir.</div>
                            </div>
                            <div class="function">
                                <div class="tv"><span></span></div>
                                <div class="wifi"><span></span></div>
                                <div class="drink"><span></span></div>
                                <div>Max Guests: 2</div>
                                <div>Beds: 1 King</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">REZERV ET</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/rooms/room-1.png"></a>
                    </div>
                </div>
            </div>
			<div class="my-controls">
				<button type="button" class="prew"></button>
				<button type="button" class="next"></button>
			</div>
        </div> 
    </div>
</div>
{% endblock %}
