{% extends "layout.html" %} {% block content %}
<div class="page-wrapper shabran">
    <div class="container">
        <div class="about-block">
            <div class="content">
                <div class="block-header">
                    <h2 class="title">ŞABRAN RAYONU</h2>
                </div>
                <div class="text">
                    <div>Shabran Spa Resort is the first Ayurveda center in Azerbaijan. The spa
                        center occupies 800 square meters and provides an exclusive authentic healing
                        experience brought to you from India and delivered by the award-winning
                        organization with 100 years of history and a professional team of therapists and
                        Panchakarma practitioners. Our team will be focusing on your physical, mental,
                        and psychic health throughout your stay.
                    </div>
                    <div>
                        Your adventure at the Ayurveda center starts from professional doctor
                        consultation carried throughout your stay with healing Panchakarma treatments,
                        sunrise and sunset yoga, Pranayama sessions, and lifestyle coaching. Our
                        nutritionist will craft an individual dedicated meal plan according to your
                        requirement.
                    </div>
                </div>
            </div>
            <div class="img"><img src="images/sample/shabran/1.png" alt="" title=""></div>
        </div>
        <div class="nature">
            <div class="block-header">
                <h2 class="title">ŞABRANIN TƏBİƏTİ</h2>
            </div>
            <div class="item">
                <div class="text">
                    <div>Shabran Spa Resort is the first Ayurveda center in Azerbaijan. The spa
                        center occupies 800 square meters and provides an exclusive authentic healing
                        experience brought to you from India and delivered by the award-winning
                        organization with 100 years of history and a professional team of therapists and
                        Panchakarma practitioners. Our team will be focusing on your physical, mental,
                        and psychic health throughout your stay.
                    </div>
                    <div>
                        Your adventure at the Ayurveda center starts from professional doctor
                        consultation carried throughout your stay with healing Panchakarma treatments,
                        sunrise and sunset yoga, Pranayama sessions, and lifestyle coaching. Our
                        nutritionist will craft an individual dedicated meal plan according to your
                        requirement.
                    </div>
                </div>
                <div class="img"><img src="images/sample/shabran/2.png" alt="" title=""></div>
            </div>
        </div>
        <div class="blog">
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <div class="img"><img src="images/sample/shabran/blog-1.png" alt="" title=""></div>
                        <div class="title">ŞABRANIN TARİXİ</div>
                        <div class="desc">Shabran Spa Resort is the first Ayurveda center in Azerbaijan.
                            The spa center occupies 800 square meters and provides an exclusive authentic
                            healing experience brought to you from India and delivered by the award-winning
                            organization with 100 years of history and a professional team of therapists and
                            Panchakarma practitioners. Our team will be focusing on your physical, mental,
                            and psychic health throughout your stay.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div class="img"><img src="images/sample/shabran/blog-2.png" alt="" title=""></div>
                        <div class="title">ŞABRANIN ADƏT ƏNƏNƏLƏRİ</div>
                        <div class="desc">Shabran Spa Resort is the first Ayurveda center in Azerbaijan.
                            The spa center occupies 800 square meters and provides an exclusive authentic
                            healing experience brought to you from India and delivered by the award-winning
                            organization with 100 years of history and a professional team of therapists and
                            Panchakarma practitioners. Our team will be focusing on your physical, mental,
                            and psychic health throughout your stay.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
