{% extends "layout.html" %} {% block content %}
<div class="page-wrapper spa">
    <div class="block-header block-header-bg">
        <div class="container">
            <h2 class="title">AYURVEDA SPA CENTER</h2>
            <div class="text">
                <div>Chic and sophisticated, Shabran Wellbeing Resort provides exotically inspired
                    retreat and creates a profound feeling of divine harmony and seamless
                    relaxation.</div>
                <div>Imbedded in the luxurious surroundings, Ayurveda Spa is heaven with
                    a tranquil atmosphere. Ayurveda Spa offers a full range of facial, body, and
                    massage treatments featuring a unique blend of Ayurveda-influenced treatments.
                    It consists of five treatment rooms, one additional VIP treatment room,
                    relaxation areas, Finnish Saunas, Steam rooms, and a yoga studio. </div>
                <div>Seamlessly
                    connected with Spa are the following facilities: cardio gym equipped with the
                    latest equipment, indoor swimming pool, and football field.</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="about-block without-bg">
            <div class="content">
                <h2 class="title">AYURVEDA SPA</h2>
                <div class="text">
                    <div>Shabran Wellbeing Resort is the first Ayurveda center in Azerbaijan. The
                        spa center occupies 800 square meters and provides an exclusive authentic
                        healing experience brought to you from India and delivered by the award-winning
                        organization with 100 years of history and a professional team of therapists and
                        Panchakarma practitioners. Our team will be focusing on your physical, mental,
                        and psychic health throughout your stay.
                    </div>
                </div>
            </div>
            <div class="img"><img src="images/sample/spa/1.png" alt="" title=""></div>
        </div>
    </div>
    <div class="slider-block slider-type1 gray-bg">
        <div class="container">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <div class="title">
                                <a href="">SPA 1</a>
                            </div>
                            <div class="desc">Chic and sophisticated, Shabran Wellbeing Resort provides
                                exotically inspired retreat and creates a profound feeling of divine harmony and
                                seamless relaxation.</div>
                        </div>
                        <a href=""><img src="images/sample/spa/home-spa.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <div class="title">
                                <a href="">SPA 1</a>
                            </div>
                            <div class="desc">Chic and sophisticated, Shabran Wellbeing Resort provides
                                exotically inspired retreat and creates a profound feeling of divine harmony and
                                seamless relaxation.</div>
                        </div>
                        <a href=""><img src="images/sample/spa/home-spa.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <div class="title">
                                <a href="">SPA 1</a>
                            </div>
                            <div class="desc">Chic and sophisticated, Shabran Wellbeing Resort provides
                                exotically inspired retreat and creates a profound feeling of divine harmony and
                                seamless relaxation.</div>
                        </div>
                        <a href=""><img src="images/sample/spa/home-spa.png"></a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="slider-block slider-type1 beige-bg rw">
        <div class="container">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side text-right">
                            <div class="title">
                                <a href="">SPA 2</a>
                            </div>
                            <div class="desc">This stylish restaurant offers a unique all-day dining
                                experience for the whole family.
                            </div>
                        </div>
                        <a href=""><img src="images/sample/spa/2.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side text-right">
                            <div class="title">
                                <a href="">SPA 2</a>
                            </div>
                            <div class="desc">This stylish restaurant offers a unique all-day dining
                                experience for the whole family.
                            </div>
                        </div>
                        <a href=""><img src="images/sample/spa/2.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side text-right">
                            <div class="title">
                                <a href="">SPA 2</a>
                            </div>
                            <div class="desc">This stylish restaurant offers a unique all-day dining
                                experience for the whole family.
                            </div>
                        </div>
                        <a href=""><img src="images/sample/spa/2.png"></a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}
