{% extends "layout.html" %} {% block content %}
<div class="page-wrapper meeting-room">
    <div class="container">
        <div class="block-header">
            <h2 class="title">MEETING ROOM</h2>
        </div>
        <div class="about-block">
            <div class="content">
                <div class="text">
                    <div>Shabran Spa Resort is the first Ayurveda center in Azerbaijan. The spa
                        center occupies 800 square meters and provides an exclusive authentic healing
                        experience brought to you from India and delivered by the award-winning
                        organization with 100 years of history and a professional team of therapists and
                        Panchakarma practitioners. Our team will be focusing on your physical, mental,
                        and psychic health throughout your stay.
                    </div>
                    <div>
                        Your adventure at the Ayurveda center starts from professional doctor
                        consultation carried throughout your stay with healing Panchakarma treatments,
                        sunrise and sunset yoga, Pranayama sessions, and lifestyle coaching. Our
                        nutritionist will craft an individual dedicated meal plan according to your
                        requirement.
                    </div>
                </div>
            </div>
            <div class="img"><img src="images/sample/rooms/meeting-room/1.png" alt="" title=""></div>
        </div>
    </div>
    <div class="slider-block slider-type2 black">
        <div class="container">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">MEETING 1</h2>
                            <div class="desc">
                                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining essentially unchanged.
                                </div>
                                <div>
                                    It was popularised in the 1960s with the release of Letraset sheets containing
                                    Lorem Ipsum passages, and more recently with desktop publishing software like
                                    Aldus PageMaker including versions of Lorem Ipsum.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/first.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">MEETING 1</h2>
                            <div class="desc">
                                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining essentially unchanged.
                                </div>
                                <div>
                                    It was popularised in the 1960s with the release of Letraset sheets containing
                                    Lorem Ipsum passages, and more recently with desktop publishing software like
                                    Aldus PageMaker including versions of Lorem Ipsum.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/first.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">MEETING 1</h2>
                            <div class="desc">
                                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining essentially unchanged.
                                </div>
                                <div>
                                    It was popularised in the 1960s with the release of Letraset sheets containing
                                    Lorem Ipsum passages, and more recently with desktop publishing software like
                                    Aldus PageMaker including versions of Lorem Ipsum.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/first.png"></a>
                    </div>
                </div>
            </div>
			<div class="my-controls">
				<button type="button" class="prew"></button>
				<button type="button" class="next"></button>
			</div>
        </div> 
    </div>
    <div class="slider-block slider-type2 fog-gray rw">
        <div class="container">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">MEETING 1</h2>
                            <div class="desc">
                                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining essentially unchanged.
                                </div>
                                <div>
                                    It was popularised in the 1960s with the release of Letraset sheets containing
                                    Lorem Ipsum passages, and more recently with desktop publishing software like
                                    Aldus PageMaker including versions of Lorem Ipsum.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/first.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">MEETING 1</h2>
                            <div class="desc">
                                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining essentially unchanged.
                                </div>
                                <div>
                                    It was popularised in the 1960s with the release of Letraset sheets containing
                                    Lorem Ipsum passages, and more recently with desktop publishing software like
                                    Aldus PageMaker including versions of Lorem Ipsum.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/first.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">MEETING 1</h2>
                            <div class="desc">
                                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining essentially unchanged.
                                </div>
                                <div>
                                    It was popularised in the 1960s with the release of Letraset sheets containing
                                    Lorem Ipsum passages, and more recently with desktop publishing software like
                                    Aldus PageMaker including versions of Lorem Ipsum.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/first.png"></a>
                    </div>
                </div>
            </div>
			<div class="my-controls">
				<button type="button" class="prew"></button>
				<button type="button" class="next"></button>
			</div>
        </div> 
    </div>
    <div class="table-wrap">
        <div class="container">
            <div class="block-header">
                <h2 class="title">Toplantı otaqlarının qonaq qəbul etmə imkanı </h2>
            </div>
            <div class="tbl">
                <div class="header">
                    <div>Zalın adı</div>
                    <div>U şəkilli</div>
                    <div>P şəkilli</div>
                    <div>Teatral</div>
                    <div>Sinif otağı</div>
                </div>
                <div class="tbdy">
                    <div class="d-flex">
                        <div>Meet 1</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                    </div>
                    <div class="d-flex">
                        <div>Meet 2</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                    </div>
                    <div class="d-flex">
                        <div>Meet 3</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
