{% extends "construction_layout.html" %}
{% block content %}
<div class="page-wrapper construction">
	<div class="container">
		<div class="img"><img src="images/setting.svg"/></div>
        <div class="title">The Page Is
            <br />Under Construction</div>
        <div class="social">
            <a><i class="fab fa-facebook"></i></a>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-linkedin-in"></i></a>
            <a><i class="fab fa-youtube"></i></a>
        </div>
	</div>
</div>
{% endblock %}