.booking {
    .item-list {
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 12px;
            border: 1px solid #27392D;
            border-radius: 10px;
            margin-bottom: 50px;
            .img {
                margin-bottom: 30px;
                width: 100%;
                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
            .title {
                font-weight: 600;
                font-size: 20px;
                color: #27392D;
                margin-bottom: 20px;
            }
            .link {
                min-width: 250px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #27392D;
                border-radius: 5px;
                font-weight: 500;
                font-size: 12px;
                color: #27392D;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            .details {
                display: flex;
                align-items: center;
                span {
                    font-weight: 300;
                    font-size: 12px;
                    display: inline-flex;
                    align-items: center;
                    color: #27392D;
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        margin-right: 6px;
                    }
                    &.ico-1 {
                        &::before {
                            background: url("../images/blog-icon1.svg") center no-repeat;
                        }
                    }
                    &.ico-2 {
                        &::before {
                            background: url("../images/blog-icon2.svg") center no-repeat;
                        }
                    }
                    &.ico-3 {
                        &::before {
                            background: url("../images/blog-icon3.svg") center no-repeat;
                        }
                    }
                    &:not(:first-child) {
                        margin-left: 24px;
                    }
                }
            }
            .function {
                margin-top: 20px;
            }
            .price {
                font-weight: 600;
                font-size: 30px;
                color: #27392D;
                text-align: center;
                margin: 30px 0;
                span {
                    font-weight: 300;
                    font-size: 12px;
                    display: block;
                }
            }
            @media (max-width: 991px) {
                margin-bottom: 40px;
                .title {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .filter-row {
        .form {
            justify-content: center;
        }
    }
}
.booking-detail {
    .function-wrap {
        .function {
            justify-content: space-between;
            margin: 50px 0;
            div {
                border: 0;
                display: flex;
                flex-direction: column;
                height: auto;
                font-weight: 300;
                font-size: 14px;
                color: #000;
                span {
                    width: 30px;
                    height: 30px;
                    margin-bottom: 20px;
                    background-color: #748678;
                }
                &.ico-1 {
                    span {
                        -webkit-mask: url(../images/func1.svg) no-repeat center;
                        mask: url(../images/func1.svg) no-repeat center;
                    }
                }
                &.ico-2 {
                    span {
                        -webkit-mask: url(../images/func2.svg) no-repeat center;
                        mask: url(../images/func2.svg) no-repeat center;
                    }
                }
                &.ico-3 {
                    span {
                        -webkit-mask: url(../images/func3.svg) no-repeat center;
                        mask: url(../images/func3.svg) no-repeat center;
                    }
                }
                &.ico-4 {
                    span {
                        -webkit-mask: url(../images/func4.svg) no-repeat center;
                        mask: url(../images/func4.svg) no-repeat center;
                    }
                }
                &.ico-5 {
                    span {
                        -webkit-mask: url(../images/func5.svg) no-repeat center;
                        mask: url(../images/func5.svg) no-repeat center;
                    }
                }
                &.ico-6 {
                    span {
                        -webkit-mask: url(../images/func6.svg) no-repeat center;
                        mask: url(../images/func6.svg) no-repeat center;
                    }
                }
                &:first-child {
                    margin-left: 0;
                }
            }
            @media (min-width: 991px) {
                margin: 50px 150px;
            }
            @media (max-width: 991px) {
                margin: 20px 0;
                div {
                    font-size: 11px;
                }
            }
        }
        @media (max-width: 991px) {
            margin: 70px 0 20px;
        }
        @media (max-width: 540px) {

            
            .function {
                justify-content: center;
								flex-wrap: wrap;
								margin-bottom: 0;
							>div{
								margin-bottom: 20px!important;
							}
            }
        }
    }
    .text {
        margin: 0 150px;
        @media (max-width: 991px) {
            font-size: 14px;
            margin: 0;
            text-align: left;
        }
    }
    .reserve-block {
        margin: 50px 150px 0;
        padding: 50px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        background: #27392D;
        * {
            color: #D6D1BB;
        }
        .desc {
            font-weight: 300;
            font-size: 14px;
            margin-bottom: 13px;
        }
        .price {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 30px;
        }
        .detail {
            div {
                display: flex;
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
                span {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    margin: 0 13px 13px 0;
                    background-color: #748678;
                }
                &.ico-1 {
                    span {
                        -webkit-mask: url(../images/breakfast.svg) no-repeat center;
                        mask: url(../images/breakfast.svg) no-repeat center;
                    }
                }
                &.ico-2 {
                    span {
                        -webkit-mask: url(../images/info.svg) no-repeat center;
                        mask: url(../images/info.svg) no-repeat center;
                    }
                }
                &.ico-3 {
                    span {
                        -webkit-mask: url(../images/payment.svg) no-repeat center;
                        mask: url(../images/payment.svg) no-repeat center;
                    }
                }
            }
        }
        .btn {
            background: #27392D;
            min-width: 150px;
            margin-top: 0;
        }
        @media (max-width: 991px) {
            margin: 40px 0 0;
            padding: 40px 20px;
            flex-direction: column;
            align-items: center;
            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .btn {
                margin-top: 20px;
            }
        }
    }
}